 #container{
        width: 600px;
        margin: 0 auto;
                /* 바깥여백 : 0 auto:브라우저에게 맡김 */
        /* border: 1px solid #ccc; */
        padding: 20px;
      }
      #레드향{
        border: 1px solid #ccc;
        padding: 40px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      #레드향 img{
        float: left;
        width: 150px;
        height: 280px;
        margin-right: 30px;
      }
      #샐러드{
        border: 1px solid #ccc;
        padding: 10px;
        margin: 5px 0px;
      }
      #샐러드 img{
        float: right;
        width: 250px;
        margin: 20px;
      }
      #상품구성{
        border: 1px solid #ccc;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px;
      }
      table{
        width: 80%;
        margin: 0 auto;
        border-collapse: collapse;
        text-align: center;
      }
      table, th, td{
        border: 1px solid gray;
      }
      th{
        background-color: beige;
      }